<span class="border border-info">The Complete guide to Angular 6</span>
<br/>
<span class="border border-success">
<label>Server Name</label>
</span>

<input type="text"
       class="form-control b"
       [(ngModel)]="serverName">

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>


<!--<p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>


<div class="card">
  <div class="card-body">Basic card</div>
</div>


